{% extends "chemistry/base.html" %}
{% block content %}
{% load static %}
<div id="Главная" class="tabcontent">
</div>
<div id="Алканы" class="tabcontent">
  <h1>Алканы</h1>
  <h2>Номенклатура</h2>
  <p>Названия у алканов формируются с помощью суффикса "ан": метан, этан, пропан, бутан и т.д</p>
  <img src="{% static 'images/1/1.png' %}">
  <p>Гомологами называют вещества, сходные по строению и свойствам, отличающиеся на одну или более групп CH2.
  Перечисленные выше алканы, являются по отношению друг к другу гомологами, то есть составляют один гомологический ряд.
  Названия алканов формируются по нескольким правилам. Если вы знаете их, можете пропустить этот пункт, однако я 
  должен познакомить читателя с ними. Итак, алгоритм составления названий следующий:</p>
  <ol>
    <li> В структурной формуле вещества необходимо выбрать самую длинную (пусть и изогнутую на рисунке) цепь атомов углерода</li>
	<li> Атомы выбранной цепи нумеруют, начиная с того конца, к которому ближе разветвление (радикал)</li>
	<li> В начале название перечисляют радикалы и другие заместители с указанием номеров атомов углерода, с которыми они связаны. Если в молекуле имеется несколько одинаковых радикалов, то цифрой указывают нахождение каждого из них в главной цепи и перед их названием соответственно ставят частицы ди-, три-, тетра- и т.д.</li>
	<li> Основой названия служит наименование предельного углеводорода с тем же количеством атомов углерода, что и в главной цепи</li>
  </ol>
  <p> Пример: </p>
  <img src="{% static 'images/1/2.png' %}">
  <p> В углеводородной цепочке различают несколько типов атомов углерода, в зависимости от того, с каким числом других атомов углерода соединен данный атом. 
  Различают первичные, вторичные, третичные и четвертичные атомы углерода.
  </p>
  <img src="{% static 'images/1/3.png' %}">
  <h2> Изомерия </h2>
  <p> Изомерами (греч. isomeros - составленный из равных частей) называют вещества, имеющие одну молекулярную формулу, но отличающиеся по строению (структурная изомерия) или расположению атомов в пространстве (пространственная изомерия).
  </p>
  <p> Изомерия бывает структурной (межклассовая, углеродного скелета, положения функциональной группы или связи) и пространственной (геометрической, оптической).
  </p>
  <img src="{% static 'images/1/4.png' %}">
  <p>В молекулах алканов отсутствуют функциональные группы, кратные связи. 
  Для алканов возможна изомерия только углеродного скелета. Так у пентана C5H12 существует 3 структурных изомера.
  </p>
  <img src="{% static 'images/1/5.png' %}">
  <h2>Получение</h2>
  <h3>1.Выделение из природного газа</h3>
  <p> Алканы входят в состав природного газа: метан 80-97%, этан 0.5-4%, пропан 0.2-1.5% , бутан 0.1-1%, пентан 0-1%.
  </p>
  <h3> 2.Крекинг нефти </h3>
  <p> Крекинг нефти-высокотемпературная обработка нефти с целью получения продуктов с меньшей длинной углеродной цепи.В ходе крекинга нефти получается один алкан и один алкен.
  </p>
  <p>C<sub>8</sub>H<sub>18</sub> → C<sub>4</sub>H<sub>8</sub> + C<sub>4</sub>H<sub>10</sub>
  </p>
  <h3>3.Гидрогенизация угля </h3>
  <p>C + H<sub>2</sub> → (t, p) CH<sub>4</sub>
  </p>
  <h3>4.Гидрирование окиси углерода (II)</h3>
  <p>CO + H<sub>2</sub> → (t, p, кат.) CH<sub>4</sub> + H<sub>2</sub>O
  </p>
  <h3>5.Синтез Дюма (декарбоксилирование солей карбоновых кислот)</h3>
  <p>Данный синтез заключается в сплавлении соли карбоновой кислоты с щелочью, в результате образуется алкан.
  </p>
  <img src="{% static 'images/1/6.png' %}">
  <h3>6.Синтез Вюрца</h3>
  <p> Эта реакция заключается во взаимодействии галогеналкана с металлическим натрием, калием или литием. 
  В результате происходит удвоение углеводородного радикала, рост цепи осуществляется зеркально: в том месте, где находился атом галогена.
  </p>
  <img src="{% static 'images/1/7.png' %}">
  <h3>7.Гидрирование ненасыщенных углеводородов</h3>
  <p> CH<sub>3</sub>-CH=CH<sub>2</sub> + H<sub>2</sub> → (t, p, Ni) CH<sub>3</sub>-CH<sub>2</sub>-CH<sub>3</sub>
  </p>
  <h2> Химические свойства </h2>
  <h3>1.Галогенирование </h3>
  <p> Атом галогена замещает атом водорода в молекуле алкана. 
  Запомните, что легче всего идет замещение у третичного атома углерода, чуть труднее - у вторичного и значительно труднее - у первичного.
  </p>
  <img src="{% static 'images/1/8.png' %}">
  <h3>2.Нитрование (реакция Коновалова)</h3>
  <p> Реакция Коновалова заключается в нитровании углеводородов разбавленной азотной кислотой. 
  Реакция идет при повышенном давлении, по свободнорадикальному механизму. Для удобства и более глубокого понимания, азотную кислоту - HNO<sub>3</sub> - можно представить как HO-NO<sub>2</sub>
  </p>
  <img src="{% static 'images/1/9.png' %}">
  <h3>3.Окисление</h3>
  <p> Все органические вещества сгорают с образованием углекислого газа и воды.
  </p>
  <p>С<sub>3</sub>H<sub>8</sub> + O<sub>2</sub> → CO<sub>2</sub> + H<sub>2</sub>O
  </p>
  <p>В ходе каталитического окисления возможна остановка на стадии спирта, альдегида или кислоты.
  </p>
  <img src="{% static 'images/1/10.png' %}">
  <h3>4.Пиролиз</h3>
  <p> Пиролиз - термическое разложение органических соединений. 
  Принципиальное отличие пиролиза от горения - в отсутствии кислорода.
  </p>
  <p>CH<sub>4</sub> → (t > 1000°С) C + H<sub>2</sub>
  <br>CH<sub>4</sub> → (t = 1500-1600°С) CH≡CH + H<sub>2</sub>↑
  <br>CH<sub>4</sub> → (t = 1200°С, кат.) CH<sub>2</sub>=CH<sub>2</sub> + H<sub>2</sub>↑
  <br>C<sub>2</sub>H<sub>6</sub> → (t = 1200°С, кат.) CH<sub>2</sub>=CH<sub>2</sub> + H<sub>2</sub>↑
  </p>
  <h3>5.Изомеризация</h3>
  <p>Для изомеризации алканов (изменения структуры углеродного скелета) в качестве катализатора используется AlCl<sub>3</sub>.
  </p>
  <img src="{% static 'images/1/11.png' %}">
  <h3>6.Крекинг</h3>
  <p> Крекинг является не только способом получения,но и важным химическим свойством алканов.
  </p>
  <p>C<sub>14</sub>H<sub>30</sub> → (t) C<sub>7</sub>H<sub>14</sub>+ C<sub>7</sub>H<sub>16</sub>
  </p>
  <h2>Задачи</h2>
  <p>1.К какому атому углерода быстрее будет присоединяться атом хлора при радикальном хлорировании предельного углеводорода?
  <br>к первичному
  <br>к вторичному
  <br>к третичному
  <br>к четвертичному
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:к третичному</p>
  </details>
  <p>2.Некий предельный углеводород содержит 83.33% углерода по массе.Напишите количество его изомеров.
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:3</p>
  </details>
  <p>3.При бромировании некого предельного углеводорода образуется единственное монобромпроизводное с массовой долей брома 53%.
  Напишите количество первичных,вторичных,третичных и четвертичных атомов углерода в данном углеводороде(ответ записывайте без пробелов,например 1020).
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:4001</p>
  </details>
  <p>4.Какова сумма коэффициентов в уравнении декарбоксилирования натриевой соли пропановой кислоты?
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:4</p>
  </details>
  <p>5.Каково будет соотношение изомерных монобромпроизводных при бромировании пропана,если скорость замешения водорода у первичного атома углерода относится к скорости замещения водорода у вторичного атома углерода как 1:6?
  В ответ записать наибольшее из отношений(например,не 0.2,а 5).
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:2</p>
  </details>
</div>

<div id="Циклоалканы" class="tabcontent">
  <h1>Циклоалканы</h1>
  <h2>Номенклатура</h2>
  <p>Названия циклоалканов формируются путем добавления приставки "цикло-" к названию соответствующего алкана: циклопропан, циклобутан и т.д.
  </p> 
  <img src="{% static 'images/2/1.png' %}">
  <h2>Изомерия</h2>
  <p>Помимо изомерии углеродного скелета, для циклоалканов характерна межклассовая изомерия с алкенами и пространственная геометрическая изомерия в виде существования цис- и транс-изомеров.
  </p>
  <img src="{% static 'images/2/2.png' %}">
  <h2>Получение</h2>
  <h3>1.Гидрирование ароматических углеводородов</h3>
  <p>Циклоалканы можно получить гидрированием (присоединением водорода) бензола и его гомологов.
  </p>
  <img src="{% static 'images/2/3.png' %}">
  <h3>2.Циклизация алканов</h3>
  <p>При наличии катализатора и повышенной температуры алканы способны образовывать цикл, отщепляя при этом водород.
  </p>
  <img src="{% static 'images/2/4.png' %}">
  <h3>3.Дегалогенирование дигалогеналканов</h3>
  <p>Циклоалканы можно получить внутримолекулярной реакцией Вюрца
  </p>
  <img src="{% static 'images/2/5.png' %}">
  <h2>Химические свойства</h2>
  <h3>1.Гидрирование</h3>
  <p>Наиболее легко в реакции гидрирования вступают циклопропан и циклобутан. 
  Циклопентан и циклогексан не вступают в реакции гидрирования.
  </p>
  <img src="{% static 'images/2/6.png' %}">
  <h3>2.Галогенирование</h3>
  <p> Без освещения реакция циклопропана и циклобутана с хлором идет по типу присоединения. 
  При освещении хлор образует свободные радикалы, реакция идет, как и у алканов, по механизму замещения.
  У циклопентана и циклогексана реакция идет только путем замещения.
  </p>
  <img src="{% static 'images/2/7.png' %}">
  <h3>3.Гидрогалогенирование</h3>
  <p>В реакции гидрогалогенирования, протекающие по типу присоединения, вступают циклопропан и циклобутан.
  </p>
  <img src="{% static 'images/2/8.png' %}">
  <h3>4.Дегидрирование</h3>
  <p>При отщеплении водорода от циклогексана образуется бензол, а при отщеплении водорода от гомологов циклогексана - гомологи бензола.
  </p>
  <img src="{% static 'images/2/9.png' %}">
  <h3>5.Изомеризация</h3>
  <p>При нагревании циклоалканов с катализатором(AlCl<sub>3</sub>) образуются изомерные циклоалканы.
  </p>
  <img src="{% static 'images/2/10.png' %}">
  <h2>Задачи</h2>
  <p>1.Из какого циклоалкана нельзя получить соответствующий галогенциклоалкан?
  Циклогексан
  <br>Циклобутан
  <br>Циклопентан
  <br>Циклооктан
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:циклобутан</p>
  </details>
  <p>2.При реакции некого циклоалкана с 1 экв. брома образовалось вещество А. 
  Вещество А прореагировало с водным раствором с образованием вещества В. 
  Массовая доля кислорода в соединении В 42,1%. 
  Каково количество углеродов в исходном циклоалкане?
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:3</p>
  </details>
  <p>3.Сколько моль водорода нужно присоединить к бензолу,чтобы получить циклогексан?
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:3</p>
  </details>
</div>

<div id="Алкены" class="tabcontent">
  <h1>Алкены</h1>
  <h2>Номенклатура</h2>
  <p>Названия алкенов формируются путем замены суффикса ''ан'' на суффикс ''ен'' в названии соответствующего алкана. 
  </p>
  <p>При составлении названия алкена важно учесть, что главная цепь атомов углерода должна обязательно содержать двойную связь. 
  Нумерация атомов углерода начинается с того края, к которому ближе двойная связь. 
  В конце названия указывают номер атома углерода, у которого начинается двойная связь.
  </p>
  <img src="{% static 'images/3/1.png' %}">
  <h2>Изомерия</h2>
  <p>Для алкенов характерна изомерия углеродного скелета, положения двойной связи, межклассовая изомерия с циклоалканами и пространственная геометрическая изомерия в виде существования цис- и транс-изомеров.
  </p>
  <img src="{% static 'images/3/2.png' %}">
  <h2>Получение</h2>
  <h3>1.Крекинг нефти</h3>
  <p>В результате крекинга нефти образуется один алкан и один алкен.
  </p>
  <p> C<sub>12</sub>H<sub>26</sub> → C<sub>6</sub>H<sub>12</sub> + C<sub>6</sub>H<sub>14</sub>
  </p>
  <h3>2.Дегидрирование алканов</h3>
  <p> При наличии катализатора и повышенной температуры от молекул алканов отщепляется водород. 
  Наиболее легко водород отщепляется от третичного атома углерода, чуть труднее – от   вторичного и заметно труднее – от первичного.
  </p>
  <img src="{% static 'images/3/3.png' %}">
  <h3>3.Дегидрогалогенирование галогеналканов</h3>
  <p>В реакции галогеналкана со спиртовым(!) раствором щелочи образуется алкен. 
  По правилу Зайцева, водород отщепляется от соседнего наименее гидрированного атома углерода.
  </p>
  <img src="{% static 'images/3/4.png' %}">
  <h3>4.Дегалогенирование дигалогеналканов</h3>
  <p>В подобных реакциях применяется цинк (в виде цинковой пыли), который связывает расположенные рядом атомы галогенов. 
  Между атомами углерода, которым принадлежали галогены, образуется двойная связь.
  </p>
  <img src="{% static 'images/3/5.png' %}">
  <h3>5.Внутремолекулярная дегидратация спиртов</h3>
  <p>При нагревании спиртов c серной кислотой происходит отщепление воды от спирта по правилу Зайцева. 
  В результате образуется алкен.Эта реакция идёт при t > 140 °C.
  </p>
  <img src="{% static 'images/3/6.png' %}">
  <h2>Химические свойства</h2>
  <p>Для алкенов характерны реакции присоединения по двойной связи.</p>
  <h3>1.Гидрирование</h3>
  <p>Водород присоединяется к атомам углерода, образующим двойную связь. 
  При этом рвётся π-связь и остаётся только σ-связь.
  </p>
  <img src="{% static 'images/3/7.png' %}">
  <h3>2.Галогенирование</h3>
  <p> Реакция с бромной водой является качественной для непредельных соединений, содержащих кратные связи. 
  В ходе такой реакции бромная вода обесцвечивается, что указывает на присоединение брома по кратным связям к органическому веществу.
  </p>
  <img src="{% static 'images/3/8.png' %}">
  <h3>3.Гидрогалогенирование</h3>
  <p>Алкены вступают в реакции гидрогалогенирования, протекающие по типу присоединения. 
  Гидрогалогенирование протекает по правилу Марковникова, в соответствии с которым атом водорода присоединяется к наиболее гидрированному атому углерода.
  </p>
  <img src="{% static 'images/3/9.png' %}">
  <h3>4.Гидратация</h3>
  <p>Гидратация(присоединение воды) происходит по правилу Марковникова. 
  Водород присоединяется к наиболее гидрированному атому углерода, гидроксогруппа - к наименее гидрированному(По правилу Марковникова).
  </p>
  <img src="{% static 'images/3/10.png' %}">
  <h3>5.Окисление</h3>
  <p>При горении(полное окисление) алкены сгорают с образованием углекислого газа и воды. 
  При неполном окислении образуются окиси.
  </p>
  <img src="{% static 'images/3/11.png' %}">
  <p>Окисление алкенов перманганатом калия в нейтральной среде является качественной реакцией на соединения с кратными связями. 
  В результате реакции фиолетовый раствор марганцовки обесцвечивается и выпадает осадок бурого цвета - MnO<sub>2</sub>
  </p>
  <p>В более жестких условиях - при подкислении раствора серной кислотой, реакция идет с полным разрывом связи в самом слабом месте молекулы - двойной связи.
  </p>
  <img src="{% static 'images/3/12.png' %}">
  <h3>6.Полимеризация</h3>
  <p>Полимеризация - цепная реакция синтеза полимеров, при котором молекула полимера образуется путем последовательного соединения молекул мономеров.
  </p>
  <p>Индекс "n", степень полимеризации, обозначает число мономерных звеньев, которые входят в состав полимера.
  </p>
  <img src="{% static 'images/3/13.png' %}">
  <h2>Задачи</h2>
  <p>1.При бромировании некого алкена образовалось вещество с массовой долей углерода 22,2%.Напишите количество атомов углерода в исходном алкене.
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:4</p>
  </details>
  <p>2.Пропен прореагировал с бромоводородом и получившееся соединение вступило в реакцию Вюрца. 
  Напишите количество первичных,вторичных,третичных и четвертичных атомов углерода в получившемся соединении(например,4001)
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:4002</p>
  </details>
  <p>3.От какого атома углерода отщепляется атом водорода при дегидрогалогенировании?
  <br>От наиболее гидрированного
  <br>От наименее гидрированного
  <br>От самого дальнего от края
  <br>От наиболее замещённого
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:от наиболее гидрированного</p>
  </details>
  <p>4.Какой класс соединений является межклассовым изомером алкенов?
  <br>Алканы
  <br>Циклоалканы
  <br>Алкадиены
  <br>Арены
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:циклоалканы</p>
  </details>
  <p>5.Какое соединение образуется при дегидрогалогенировании 2-бромпентана?
  <br>Пентен-1
  <br>Пентен-2
  <br>Пентен-5
  <br>Пентен-3
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:3</p>
  </details>
</div>

<div id="Алкины" class="tabcontent">
  <h1>Алкины</h1>
  <h2>Номенклатура</h2>
  <p>Названия алкинов формируются путем добавления суффикса "ин" к названию алкана с соответствующим числом: этин, пропин, бутин и т.д.
  При составлении названия алкина важно учесть, что главная цепь атомов углерода должна обязательно содержать тройную связь. 
  Нумерация атомов углерода в ней начинается с того края, к которому ближе тройная связь. В конце названия указывают атом углерода у которых начинается тройная связь.
  </p>
  <img src="{% static 'images/4/1.png' %}">
  <h2>Изомерия</h2>
  <p>Для алкинов характерна изомерия углеродного скелета, положения тройной связи, межклассовая изомерия с алкадиенами.
  Пространственная геометрическая изомерия для них невозможна, ввиду того, что каждый атом углерода, прилежащий к тройной связи, соединен только с одним единственным заместителем.
  </p>
  <img src="{% static 'images/4/2.png' %}">
  <h2>Получение</h2>
  <p>Наиболее важными являются способы получения ацетилена:</p>
  <h3>1.Пиролиз метана</h3>
  <p>При нагревании метана до 1200-1500 °C происходит димеризация молекул метана, в ходе чего отщепляется водород.
  </p>
  <p>2CH<sub>4</sub> → (t) CH≡CH + 3H<sub>2</sub>
  </p>
  <h3>2.Синтез Бертло </h3>
  <p>Этот синтез осуществляется напрямую, из простых веществ. 
  Протекает в электрической дуге, в атмосфере водорода.
  </p>
  <p>2C + H<sub>2</sub> → (t, электрическая дуга) CH≡CH
  </p>
  <h3>3.Гидролиз карбида кальция</h3>
  <p>В результате гидролиза карбида кальция образуется ацетилен и гидроксид кальция.
  </p>
  <p>CaC<sub>2</sub> + 2H<sub>2</sub>O → CH≡CH + Ca(OH)<sub>2</sub>
  </p>
  <p>Получение гомологов ацетилена возможно в реакциях дегидрогалогенирования дигалогеналканов, в которых атомы галогена расположены у одного атома углерода или у двух соседних атомов.
  </p>
  <img src="{% static 'images/4/3.png' %}">
  <h2>Химические свойства</h2>
  <h3>1.Гидрирование</h3>
  <p>Водород присоединяется к атомам углерода, образующим тройную связь.π-связь рвется, остается σ-связь.
  </p>
  <p>CH≡CH + 2H<sub>2</sub> → (t, Ni) CH<sub>3</sub>-CH<sub>3</sub>
  </p>
  <h3>2.Галогенирование</h3>
  <p> Реакция с бромной водой является качественной для непредельных соединений, содержащих двойные (и тройные) связи. 
  В ходе такой реакции бромная вода обесцвечивается, что указывает на присоединение его по кратным связям к органическому веществу.
  </p>
  <img src="{% static 'images/4/4.png' %}">
  <h3>3.Гидрогалогенирование</h3>
  <p> Алкины вступают в реакции гидрогалогенирования, протекающие по типу присоединения. 
  Гидрогалогенирование протекает по правилу Марковникова, в соответствии с которым атом водорода присоединяется к наиболее гидрированному, а атом галогена - к наименее гидрированному атому углерода.
  </p>
  <img src="{% static 'images/4/5.png' %}">
  <h3>4.Реакция Кучерова</h3>
  <p>Реакцией Кучерова называют гидратацию алкинов с образованием карбонильных соединений. 
  Открыта русским химиком М.Г. Кучеровым в 1881 году. 
  Катализатор - соли ртути Hg<sup>2+</sup>.
  </p>
  <p>Только в реакции с ацетиленом образуется уксусный альдегид. 
  Во всех остальных реакциях (с гомологами ацетилена) образуются кетоны.
  </p>
  <img src="{% static 'images/4/6.png' %}">
  <h3>5.Окисление</h3>
  <p>При горении алкины, как и все органические соединения, сгорают с образование углекислого газа и воды. 
  Сильные окислители (особенно в подкисленной среде) способны разрывать молекулы алкинов в самом слабом месте - в месте тройной связи.
  </p>
  <p>Так, при окислении пропина, образуется уксусная кислота и муравьиная кислота, окисляющаяся до угольной кислоты, которая распадается на углекислый газ и воду.
  </p>
  <img src="{% static 'images/4/7.png' %}">
  <h3>6.Реакция Зелинского(тримеризация ацетилена)</h3>
  <p>Данная реакция протекает при пропускании ацетилена над активированным углем при t = 400°C. 
  В результате образуется ароматический углеводород - бензол.
  </p>
  <img src="{% static 'images/4/8.png' %}">
  <h3>7.Димеризация ацетилена</h3>
  <p>Димеризация ацетилена происходит при наличии катализатора - солей меди I. 
  В результате реакции две молекулы ацетилена соединяются, образуя винилацетилен.
  </p>
  <img src="{% static 'images/4/9.png' %}">
  <h3>8.Образование солей алкинов</h3>
  <p>В случае если тройная связь прилежит к краевому атому углерода(терминальный алкин), то имеющийся у данного атома водород может быть замещен атомом металла. 
  </p>
  <p>Реакция аммиачного раствора серебра и ацетилена - качественная реакция, в ходе которой выпадает осадок ацетиленида серебра.
  </p>
  <img src="{% static 'images/4/10.png' %}">
  <h2>Задачи</h2>
  <p>1.При реакции некого алкина гидроксидом диамминсеребра выпал осадок,содержащий 81,81% серебра по массе.Какова массовая доля водорода в исходном алкине?
  Ответ укажите в процентах.
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:4</p>
  </details>
  <p>2.Бутин-2 прореагировал с 2 экв. бромоводорода. 
  Образовавшееся вещество вступило в реакцию с водным раствором щёлочи. 
  Напишите массовую долю кислорода в конечном соединении.Ответ дайте в процентах.
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:22,22%</p>
  </details>
  <p>3.Какой класс соединений является межклассовым изомером алкинов?
  <br>Циклоалканы
  <br>Алкадиеныы
  <br>Алкены 
  <br>Арены
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:алкадиены</p>
  </details>
  <p>4.Метан нагрели до 600°с без доступа воздуха. 
  Продукт данной реакции с большей молярной массой нагрели до 400°с в присутствии активированного угля.
  Какова массовая доля углерода в получившемся соединении? Ответ дайте в процентах.
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:92,3%</p>
  </details>
</div>

<div id="Алкадиены" class="tabcontent">
  <h1>Алкадиены</h1>
  <h2>Номенклатура</h2>
  <p>Названия алкенов формируются путем добавления суффикса "диен" к названию алкана с соответствующим числом: пропадиен, бутадиен, пентадиен и т.д. 
  При составления названия алкадиена важно учесть, что главная цепь атомов углерода должна обязательно содержать  обе двойные связи. 
  Нумерация атомов углерода в ней начинается с того края, к которому ближе двойная связь. 
  В конце названия указывают атомы углерода, у которых начинается двойная связь.
  </p>
  <img src="{% static 'images/5/1.png' %}">
  <h3>Классификация по положению двойных связей</h3>
  <h4>1.Кумулированные двойные связи</h4>
  <p>В случае, если две двойные связи прилежат к одному и тому же атому углерода.
Пример - пропадиен-1,2 (аллен) - CH<sub>2</sub>=C=CH<sub>2</sub>
  </p>
  <p>В молекуле аллена крайние атомы углерода находятся в состоянии sp2-гибридизации, а центральный атом - sp-гибридизации.
  </p>
  <h4>2.Сопряженные двойные связи</h4>
  <p>В случае, если две двойные связи разделены одной одинарной связью. 
  В результате такого взаиморасположения в молекулах возникает сопряжение: формируется единое π-электронное облако.
  </p>
  <img src="{% static 'images/5/3.png' %}">
  <h4>3.Изолированные двойные связи</h4>
  <p>В случае, если две двойные связи разделены двумя и более одинарными связями.
  </p>
  <p>Пример - пентадиен-1,4 - CH<sub>2</sub>=CH-CH<sub>2</sub>-CH=CH<sub>2</sub>
  </p>
  <h2>Изомерия</h2>
  <p> Для алкадиенов характерна изомерия углеродного скелета, положения двойных связей, межклассовая изомерия с алкинами и пространственная геометрическая изомерия в виде существования цис- и транс-изомеров.
  </p>
  <img src="{% static 'images/5/2.png' %}">
  <h2>Получение</h2>
  <h3>1.Дегидрогалогенирование дигалогеналканов</h3>
  <p> При взаимодействии дигалогеналкана со спиртовым раствором щёлочи образуется диен.
  В зависимости от взаимного расположения атомов галогена в алкане могут получаться различные диены. 
  Отщепление идёт по правилу Зайцева.
  </p>
  <img src="{% static 'images/5/4.png' %}">
  <h3>2.Дегидрирование алканов</h3>
  <p>В результате отщепления водорода от молекулы алкана образуются двойные связи. 
  Дегидрирование происходит при повышенной температуре и в присутствии катализатора.
  </p>
  <img src="{% static 'images/5/5.png' %}">
  <h3>3.Синтез Лебедева</h3>
  <p>Сергей Васильевич Лебедев в 1927 году разработал первый промышленный способ получения бутадиена-1,3 из этилового спирта.
  </p>
  <p>2CH<sub>3</sub>-CH<sub>2</sub>-OH → (450 °C, кат. ZnO) CH<sub>2</sub>=CH-CH=CH<sub>2</sub> + 2H<sub>2</sub>O + H<sub>2</sub>
  </p>
  <h2>Химические свойства</h2>
  <h3>1.Гидрирование</h3>
  <p>Водород присоединяется к атомам углерода, образующим двойную связь.π-связь рвется, остается σ-связь.
  </p>
  <img src="{% static 'images/5/6.png' %}">
  <h3>2.Галогенирование</h3>
  <p>Реакция с бромной водой является качественной для непредельных соединений, содержащих двойные (и тройные) связи. 
  В ходе такой реакции бромная вода обесцвечивается, что указывает на присоединение брома по кратным связям к органическому веществу.
  </p>
  <p>В случае, если двойные связи находятся в сопряжении, выход продуктов во многом зависит от температуры. 
  Например, в ходе галогенирования бутадиена-1,3 при -80°C преимущественно получается продукт 1,2-присоединения, а при +60°C - продукт 1,4-присоединения.
  </p>
  <img src="{% static 'images/5/7.png' %}">
  <h3>3.Гидрогалогенирование</h3>
  <p> Алкадиены вступают в реакции гидрогалогенирования, протекающие по типу присоединения.
  Гидрогалогенирование протекает по правилу Марковникова, в соответствии с которым атом водорода присоединяется к наиболее гидрированному, а атом галогена - к наименее гидрированному атому углерода.
  </p>
  <img src="{% static 'images/5/8.png' %}">
  <h3>4.Полимеризация</h3>
  <p>Полимеризация - цепная реакция синтеза полимеров, при котором молекула полимера образуется путем последовательного соединения молекул мономеров. 
  Индекс "n", степень полимеризации, обозначает число мономерных звеньев, которые входят в состав полимера.
  </p>
  <img src="{% static 'images/5/9.png' %}">
  <h2>Задачи</h2>
  <p>1.Какой алкадиен используется для получения искусственного каучука?
  <br>Бутадиен-1,3
  <br>Бутадиен-2,3
  <br>Пропадиен-1,3
  <br>Пентадиен-1,2
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:бутадиен-1,3</p>
  </details>
  <p>2.При жёстком окислении некого алкадиена образовалось 11,25 г. щавелевой кислоты и 11 г. углекислого газа. 
  Какова была масса данного алкадиена?
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:6,75 
   </p>
  </details>
  <p>3.Какое вещество получится  при реакции хлора с бутадиеном-1,3 на свету.
  <br>1,2-дихлорбутан-3
  <br>2,3-дихлорбутен-2
  <br>1,4-дихлорбутен-2
  <br>1,2-дихлорбутан
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:1,4-дихлорбутен-2</p>
  </details>
</div>

<div id="Фенолы" class="tabcontent">
  <h1>Фенолы</h1>
  <p>Фенолы - кислородсодержащие ароматические соединения, в молекулах которых содержится одна или несколько гидроксильных групп (OH), присоединенных к бензольному кольцу.
  </p>
  <h2>Номенклатура</h2>
  <p>Нумерацию атомов углерода в молекуле фенола начинают в такой последовательности, чтобы заместители получили наименьшие номера (идут кратчайшим путем). 
  В основе названия принято сохранять тривиальное название "фенол".
  </p>
  <img src="{% static 'images/6/1.png' %}">
  <h2>Получение</h2>
  <h3>1.Гидролиз галогенбензолов</h3>
  <p>При гидролизе галогенбензолов происходит обмен: гидроксогруппа встает на место атома галогена.
  </p>
  <img src="{% static 'images/6/2.png' %}">
  <h3>2. Кумольный способ</h3>
  <p>Этим способом получают 95% всего производимого фенола. 
  В ходе этой реакции кумол (изопропилбензол) подвергают окислению, в результате получается сразу два очень важных для промышленности вещества: фенол и ацетон.
  </p>
  <img src="{% static 'images/6/3.png' %}">
  <h2>Химические свойства</h2>
  <p>Гидроксильная группа является ориентантом I порядка (орто-, пара-ориентант). 
  Поэтому реакции галогенирования, нитрования и т.д. протекают в орто- и пара-положения.
  </p>
  <h3>1.Кислотные свойства</h3>
  <p>Щелочные металлы способны вытеснять водород из фенолов с образованием солей - фенолятов. 
  В отличие от алифатических одноатомных спиртов, фенолы способны вступать в реакцию с щелочами.
  </p>
  <img src="{% static 'images/6/4.png' %}">
  <h3>2.Галогенирование</h3>
  <p>Реакция фенола с бромной водой является качественной: в ходе нее выпадает белая взвесь - осадок трибромфенола.
  </p>
  <img src="{% static 'images/6/5.png' %}">
  <h3>3.Нитрование</h3>
  <p>Реакция между фенолом и азотной кислотой происходит по типу замещения. 
  В бензольном кольце появляется новый радикал - нитрогруппа.
  </p>
  <img src="{% static 'images/6/6.png' %}">
  <h3>4.Гидрирование</h3>
  <p>При гидрировании фенолов разрываются двойные связи бензольного кольца и образуется циклогексанол или его гомологи.
  </p>
  <img src="{% static 'images/6/7.png' %}">
  <h3>5.Поликонденсация фенолов с формальдегидом</h3>
  <p>В промышленности большую роль играет реакция поликонденсации фенола с формальдегидом, приводящая к образованию смолообразных полимеров (фенолформальдегидные смолы) и воды.
  </p>
  <img src="{% static 'images/6/8.png' %}">
</div>

<div id="Спирты" class="tabcontent">
  <h1>Спирты</h1>
  <p>Спирты - кислородсодержащие органические соединения, функциональной группой которых является гидроксогруппа (OH) у насыщенного атома углерода.
  Спирты также называют алкоголи. 
  Первый член гомологического ряда - метанол - CH<sub>3</sub>OH. 
  Общая формула их гомологического ряда - C<sub>n</sub>H<sub>2n+1</sub>OH.
  </p>
  <h2>Классификация</h2>
  <p>По числу OH групп спирты бывают одноатомными (1 группа OH), двухатомными (2 группы OH - гликоли), трехатомными (3 группы OH - глицерины) и т.д.
  </p>
  <img src="{% static 'images/7/1.png' %}">
  <p>Одноатомные спирты также подразделяются в зависимости от положения OH-группы: первичные (OH-группа у первичного атома углерода), вторичные (OH-группа у вторичного атома углерода) и третичные (OH-группа у третичного атома углерода).
  </p>
  <img src="{% static 'images/7/2.png' %}">
  <h2>Номенклатура</h2>
  <p>Названия спиртов формируются путем добавления суффикса "ол" к названию алкана с соответствующим числом атомов углерода: метанол, этанол, пропанол, бутанол, пентанол и т.д.
  </p>
  <img src="{% static 'images/7/3.png' %}">
  <h2>Изомерия</h2>
  <p>Для спиртов характерна изомерия углеродного скелета (начиная с бутанола), положения функциональной группы и межклассовая изомерия с простыми эфирами.
  </p>
  <img src="{% static 'images/7/4.png' %}">
  <h2>Получение</h2>
  <h3>1.Гидролиз галогеналканов </h3>
  <p>При реакциях галогеналканов с водным раствором щёлочи образуются спирты
  </p>
  <img src="{% static 'images/7/5.png' %}">
  <h3>2.Гидратация алкенов</h3>
  <p>Присоединения молекулы воды протекает по правилу Марковникова. 
  Атом водорода присоединяется к наиболее гидрированному атому углерода, а гидроксогруппа к соседнему, менее гидрированному, атому углерода.
  </p>
  <img src="{% static 'images/7/6.png' %}">
  <h3>3.Восстановление карбонильных соединений</h3>
  <p>При восстановлении альдегидов и кетонов получаются,соответственно,первичные и вторичные спирты
  </p>
  <img src="{% static 'images/7/7.png' %}">
  <h3>4.Получение из синтез-газа </h3>
  <p> Синтез-газ - смесь угарного газа и водорода, которая используется для синтеза различных химических соединений, в том числе и метанола.
  </p>
  <p>CO + 2H<sub>2</sub> → (t,p,кат.) CH<sub>3</sub>-OH
  </p>
  <h3>5.Получение этанола при брожении глюкозы</h3>
  <p>При брожении глюкозы может образовываться этанол или глицерин(всё зависит от условий проведения и химических добавок)
  </p>
  <img src="{% static 'images/7/8.png' %}">
  <h3>6.Окисление алкенов в нейтральной среде</h3>
  <p>При окислении алкенов сильными окислителями(KMnO<sub>4</sub>, K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) рвётся π-связь и к обоим атома углерода,образающих двойную связь,прикрепляется гидроксогруппа.
  </p>
  <img src="{% static 'images/7/9.png' %}">
  <h2>Химические свойства</h2>
  <h3>1.Кислотные свойства</h3>
  <p>Щелочные металлы способны вытеснять водород из спиртов с образованием солей: метилатов, этилатов, пропилатов и т.д.
  </p>
  <img src="{% static 'images/7/10.png' %}">
  <p>Однако, реакция одноатомных спиртов с щелочами невозможна,т.к. спирты являются более слабыми кислотами,чем вода.
  </p>
  <p>Важным отличием многоатомных спиртов от одноатомных является их способность реагировать со щелочами.Это говорит об их более выраженных кислотных свойствах.
  </p>
  <img src="{% static 'images/7/16.png' %}">
  <h3>2.Реакция с галогеноводородами</h3>
  <p>Реакция с галогеноводородами протекают как реакции обмена: атом галогена замещает гидроксогруппу, образуется молекула воды.
  При этом в систему нужно вводить сильное водоотнимающее вещество,чтобы реакция не пошла в обратную сторону.
  </p>
  <img src="{% static 'images/7/11.png' %}">
  <h3>3.Реакции с кислотами</h3>
  <p>При реакции спиртов с неорганическими или органическими кислотами образуются сложные эфиры.
  </p>
  <img src="{% static 'images/7/12.png' %}">
  <h3>4.Дегидратация спиртов</h3>
  <p>Дегидратация спиртов идет при повышенной температуре в присутствии водоотнимающего компонента(серной кислоты).
  </p>
  <p>Возможен межмолекулярный механизм дегидратации (при t меньше 140°С), в результате которого образуются простые эфиры. 
  При более высокой температуре (t > 140°С) механизм дегидратации становится внутримолекулярный - образуются алкены.
  </p>
  <p>Названия простых эфиров формируются проще простого - по названию радикалов, входящих в состав эфира. Например:
  </p>
  <p>Диметиловый эфир - CH<sub>3</sub>-O-CH<sub>3</sub>
  <br>Метилэтиловый эфир - CH<sub>3</sub>-O-C<sub>2</sub>H<sub>5</sub>
  </p>
  <img src="{% static 'images/7/13.png' %}">
  <h3>5.Окисление</h3>
  <p>Качественной реакцией на спирты является взаимодействие с оксидом меди II. 
  В ходе такой реакции раствор приобретает характерное фиолетовое окрашивание.
  </p>
  <img src="{% static 'images/7/14.png' %}">
  <p>Первичные спирты окисляются до альдегидов, а вторичные - до кетонов. 
  Альдегиды могут быть окислены далее - до карбоновых кислот, в отличие от кетонов, которые могут только снова стать вторичными спиртами.
  </p>
  <img src="{% static 'images/7/15.png' %}">
  <h2>Задачи</h2>
  <p>1.Относительная плотность паров предельного одноатомного спирта по кислороду равна 2,75. 
  Сколько атомов углерода в молекуле этого спирта?
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:5</p>
  </details>
  <p>2.Относительная плотность паров органического соединения по кислороду равна 3,625. 
  При сжигании 29 г. этого вещества образуется 39,2 л углекислого газа и 36 г воды. 
  Сколько атомов углерода содержит данное соединение.
  </p>
  <details>
   <summary>Посмотреть правильный ответ</summary>
   <p>Ответ:7</p>
  </details>
</div>

<div id="Альдегиды и кетоны" class="tabcontent">
  <h1>Альдегиды и кетоны</h1>
  <p>Альдегиды - летучие жидкости органического состава, являющиеся продуктом неполного окисления спиртов. 
  Карбонильная группа в молекулах альдегидов связана с одним атомом водорода и одной группой R.
  </p>
  <p>Альдегиды не часто встречаются в природе в отдельном виде, но, несомненно, играют важную роль в физиологических процессах растений и животных. 
  Общая формула альдегидов C<sub>n</sub>H<sub>2n</sub>O.
  </p>
  <h2>Номенклатура</h2>
  <p> Названия альдегидов формируются путем добавления суффикса "аль" к названию алкана с соответствующим числом атомов углерода: метаналь, этаналь, пропаналь, бутаналь, пентаналь и т.д.
  </p>
  <p>Названия кетонов формируются путём добавления суффикса “он” к названию соответствующего алкана: пропанон, бутанон-2.
  </p>
  <p>Многие альдегиды имеют тривиальные названия. Наиболее известные: метаналь - формальдегид, этаналь - ацетальдегид. 
  Замечу, что формалином называется 40% раствор формальдегида.
  </p>
  <img src="{% static 'images/8/1.png' %}">
  <h2>Изомерия</h2>
  <p>Для альдегидов характерна структурная изомерия: углеродного скелета, межклассовая изомерия с кетонами.
  </p>
  <img src="{% static 'images/8/2.png' %}">
  <h2>Получение</h2>
  <h3>1.Окисление спиртов </h3>
  <p> При окислении первичных спиртов образуются альдегиды, при окислении вторичных спиртов - кетоны. 
  Окисление с помощью оксида меди относится к лабораторным способам получения альдегидов.
  </p>
  <img src="{% static 'images/8/3.png' %}">
  <h3>2.Пиролиз солей карбоновых кислот</h3>
  <p>Этот способ также просто осуществить в лабораторных условиях. 
  При пиролизе (нагревании без доступа кислорода) кальциевых или бариевых солей карбоновых кислот возможно получение кетонов.
  </p>
  <img src="{% static 'images/8/4.png' %}">
  <h3>3.Каталитическое дегидрирование спиртов</h3>
  <p>В присутствии катализатора и при нагревании спиртов от гидроксогруппы и прилежащего к ней атома углерода отщепляется по атому водорода. 
  В результате образуется карбонильная группа.
  </p>
  <img src="{% static 'images/8/5.png' %}">
  <h3>4.Реакция Кучерова</h3>
  <p>Реакцией Кучерова называют гидратацию алкинов в присутствии солей двухвалентной ртути.
В результате такой реакции ацетилен превращается в уксусный альдегид. Все остальные его гомологи: пропин, бутин, пентин и т.д. превращаются в соответствующие кетоны.
  </p>
  <img src="{% static 'images/8/6.png' %}">
  <h3>5.Гидролиз дигалогеналканов</h3>
  <p>Для получения альдегида этим способом два атома галогена должны находиться у первичного атома углерода, для получения кетонов - у вторичного.
  </p>
  <p>В результате такого гидролиза образуются двухатомные спирты, в которых две OH-группы прилежат к одному атому углерода. Такие соединения неустойчивы и распадаются на карбонильное соединение (альдегид или кетон) и воду.
  </p>
  <img src="{% static 'images/8/7.png' %}">
  <h3>6.Окисление метана</h3>
  <p>В промышленности окислением метана при температуре 500 °C и в присутствии катализатора получают формальдегид.
  </p>
  <img src="{% static 'images/8/8.png' %}">
  <h3>7.Кумольный способ получения</h3>
  <p>В прошлой теме, посвященной фенолам, мы касались данного способа. 
  В результате такой реакции образуется не только фенол, но и ацетон.
  </p>
  <img src="{% static 'images/8/9.png' %}">
  <h2>Химические свойства</h2>
  <h3>1.Реакции присоединения</h3>
  <p>Реакция гидрирования альдегидов происходит по типу присоединения, сопровождается разрывом двойной связи в карбонильной группе. 
  </p>
  <img src="{% static 'images/8/10.png' %}">
  <p>Гидрирование альдегидов приводит к образованию первичных, а гидрирование кетонов - вторичных спиртов.
  </p>
  <img src="{% static 'images/8/11.png' %}">
  <h3>2.Окисление альдегидов</h3>
  <p> В результате полного окисления, горения, образуется углекислый газ и вода.
  </p>
  <p> Альдегиды легко окисляются до карбоновых кислот в лабораторных условиях. Это осуществляется с помощью известной реакции серебряного зеркала. Данная реакция является качественной для альдегидов.
  Кетоны, в отличие от альдегидов, в реакции окисления не вступают.
  </p>
  <img src="{% static 'images/8/12.jpg' %}">
  <p>При написании реакции с аммиачным раствором серебра в полном виде, правильнее будет указать не кислоту, а ее аммиачную соль.
  </p>
  <img src="{% static 'images/8/13.jpg' %}">
  <p> При окислении метаналя, образовавшаяся муравьиная кислота тут же окисляется до угольной кислоты, которая распадается на углекислый газ и воду. 
  Это связано с наличием альдегидной группы у муравьиной кислоты.
  </p>
  <img src="{% static 'images/8/14.png' %}">
  <p> Окисление также возможно другим реагентом - гидроксидом меди II. 
  Эта реакция также относится к качественным для альдегидов, в результате образуется кирпично-красный осадок оксида меди I.
  </p>
  <img src="{% static 'images/8/15.png' %}">
</div>

<div id="Карбоновые кислоты" class="tabcontent">
  <h1>Карбоновые кислоты</h1>
  <p>Карбоновые кислоты - класс органических соединений, молекулы которых содержат одну или несколько карбоксильных групп COOH. 
  Карбоновые кислоты имеют разнообразное промышленное применение и большое биологическое значение. 
  Общая формула одноосновных карбоновых кислот C<sub>n</sub>H<sub>2n</sub>O<sub>2</sub>.
  </p>
  <img src="{% static 'images/9/1.png' %}">
  <h2>Классификация</h2>
  <p>По количеству карбоксильных групп в молекуле карбоновые кислоты подразделяются на:
  </p>
  <p>Одноосновные - 1 карбоксильная группа
  <br>Двухосновные - 2 карбоксильных группы
  <br>Трехосновные - 3 карбоксильных группы
  </p>
  <p>Высшие карбоновые кислоты называют жирными кислотами. 
  Более подробно мы изучим их теме, посвященной жирам, в состав которых они входят.
  </p>
  <img src="{% static 'images/9/2.png' %}">
  <h2>Номенклатура</h2>
  <p>Названия карбоновых кислот формируются путем добавления суффикса "овая" к названию алкана с соответствующим числом атомов углерода и слова кислота: метановая кислота, этановая кислота, пропановая кислота, и т.д.
  </p>
  <p>Многие карбоновые кислоты имеют тривиальные названия. Наиболее известные:
  </p>
  <p>Метановая - муравьиная кислота
  <br>Этановая - уксусная кислота
  <br>Пропановая - пропионовая кислота
  <br>Бутановая - масляная кислота
  <br>Пентановая - валериановая кислота
  </p>
  <img src="{% static 'images/9/3.png' %}">
  <h2>Изомерия</h2>
  <p>Для предельных карбоновых кислот характерна структурная изомерия: углеродного скелета, межклассовая изомерия со сложными эфирами.
  </p>
  <img src="{% static 'images/9/4.png' %}">
  <h2>Получение</h2>
  <h3>1.Окисление алканов </h3>
  <p>При повышенной температуре и в присутствии катализатора становится возможным неполное окисление алканов, в результате которого образуются кислоты.
  </p>
  <img src="{% static 'images/9/5.png' %}">
  <h3>2.Окисление спиртов</h3>
  <p>При реакции спиртов с сильными окислителями, такими как подкисленный раствор перманганата калия, спирты окисляются до соответствующих кислот.
  </p>
  <img src="{% static 'images/9/6.png' %}">
  <h3>3.Окисление альдегидов</h3>
  <p>При окислении альдегиды образуют соответствующие карбоновые кислоты. 
  Окисление можно проводить качественной реакцией на альдегиды - реакцией серебряного зеркала.
  </p>
  <img src="{% static 'images/9/7.jpg' %}">
  <h3>4.Получение муравьиной кислоты</h3>
  <p>Существует специфический способ получения муравьиной кислоты, который заключается в реакции твердого гидроксида щелочного металла с угарным газом под давлением и температуре 200°С - образуется формиат (соль муравьиной кислоты).
  </p>
  <p>При дальнейшей обработке формиата серной кислотой образуется муравьиная кислота.
  </p>
  <img src="{% static 'images/9/8.png' %}">
  <h3>5.Получение уксусной кислоты</h3>
  <p>Специфичность синтеза уксусной кислоты заключается в реакции угарного газа с метанолом, в результате которой она образуется.
  <br>Также уксусную кислоту можно получить другим путем: сначала провести реакцию Кучерова, в ходе которой образуется уксусный альдегид. 
  Окислить его до уксусной кислоты можно аммиачным раствором оксида серебра или гидроксидом меди II.
  </p>
  <img src="{% static 'images/9/9.png' %}">
  <h2>Химические свойства</h2>
  <h3>1.Кислотные свойства</h3>
  <p>Карбоновые кислоты вступают в реакции с металлами, которые способны вытеснить водород (стоят левее водорода в ряду напряжений металлов) из кислоты. 
  Реагируют также с основаниями, с солями более слабых кислот, например, угольной кислоты.
  </p>
  <img src="{% static 'images/9/10.png' %}">
  <h3>2.Галогенирование</h3>
  <p>Галогенирование происходит по типу замещения в радикале, который соединен с карбоксильной группой. 
  Напомню, что наиболее легко замещается водород у третичного, чуть сложнее - у вторичного, и значительно сложнее - у первичного атома углерода.
  </p>
  <img src="{% static 'images/9/11.png' %}">
  <p>Сила карбоновых кислот тем выше, чем меньше электронной плотности сосредоточено на атоме углерода в карбоксильной группе. 
  Поэтому самая слабая из трех кислот - уксусная, чуть сильнее - хлоруксусная, за ней - дихлоруксусная и самая сильная - трихлоруксусная.
  </p>
  <p>Перераспределение электронной плотности в молекулах этих кислот для лучшего запоминания лучше увидеть наглядно. 
  Это перераспределение обусловлено большей электроотрицательностью хлора, который притягивает электронную плотность.
  </p>
  <img src="{% static 'images/9/12.png' %}">
  <h3>3.Особые свойства муравьиной кислоты</h3>
  <p>Муравьиная кислота отличается от своих гомологов. 
  За счет наличия у нее альдегидной группы, она, единственная из карбоновых кислот, способна вступать в реакцию серебряного зеркала.
  <br>В такой реакции идет ее окисление до нестойкой угольной кислоты, которая распадается на углекислый газ и воду.
  </p>
  <img src="{% static 'images/9/13.png' %}">
  <h3>4.Образование сложных эфиров</h3>
  <p>Получение сложных эфиров происходит в реакции этерификации, заключающейся во взаимодействии карбоновой кислоты и спирта.
  </p>
  <p>Названия сложных эфиров формируются в зависимости от того, какой кислотой и каким спиртом эфир образован.
  </p>
  <img src="{% static 'images/9/14.png' %}">
  <p>Для сложных эфиров характерной реакцией является гидролиз - их разложение. 
  Возможен щелочной гидролиз, при котором образуется соль кислоты и спирт, и кислотный гидролиз, при котором образуются исходные спирт и кислота.
  Кислотный гидролиз протекает обратимо, щелочной - необратимо. 
  Реакция щелочного гидролиза по-другому называется реакция омыления, и напомнит о себе, когда мы дойдем до темы жиров.
  </p>
  <img src="{% static 'images/9/15.png' %}">
  <h3>5.Образование ангидридов</h3>
  <p>Ангидриды - химические соединения, производные неорганических или органических кислот, образующиеся при их дегидратации.
  </p>
  <img src="{% static 'images/9/16.png' %}">
  <p>Хлорангидриды карбоновых кислот образуются в реакции карбоновых кислот с хлоридом фосфора V.
  </p>
  <img src="{% static 'images/9/17.png' %}">
</div>
{% endblock %}
