{% extends "chemistry/base.html" %}
{% block content %}
{% load static %}
<div id="Главная" class="tabcontent">
</div>
<div id="Алканы" class="tabcontent">
  <h1>Алканы</h1>
  <h2>Номенклатура</h2>
  <p>Названия у алканов формируются с помощью суффикса "ан": метан, этан, пропан, бутан и т.д</p>
  <img src="{% static 'images/1/1.png' %}">
  <p>Гомологами называют вещества, сходные по строению и свойствам, отличающиеся на одну или более групп CH2.
  Перечисленные выше алканы, являются по отношению друг к другу гомологами, то есть составляют один гомологический ряд.
  Названия алканов формируются по нескольким правилам. Если вы знаете их, можете пропустить этот пункт, однако я 
  должен познакомить читателя с ними. Итак, алгоритм составления названий следующий:</p>
  <ol>
    <li> В структурной формуле вещества необходимо выбрать самую длинную (пусть и изогнутую на рисунке) цепь атомов углерода</li>
	<li> Атомы выбранной цепи нумеруют, начиная с того конца, к которому ближе разветвление (радикал)</li>
	<li> В начале название перечисляют радикалы и другие заместители с указанием номеров атомов углерода, с которыми они связаны. Если в молекуле имеется несколько одинаковых радикалов, то цифрой указывают нахождение каждого из них в главной цепи и перед их названием соответственно ставят частицы ди-, три-, тетра- и т.д.</li>
	<li> Основой названия служит наименование предельного углеводорода с тем же количеством атомов углерода, что и в главной цепи</li>
  </ol>
  <p> Пример: </p>
  <img src="{% static 'images/1/2.png' %}">
  <p> В углеводородной цепочке различают несколько типов атомов углерода, в зависимости от того, с каким числом других атомов углерода соединен данный атом. 
  Различают первичные, вторичные, третичные и четвертичные атомы углерода.
  </p>
  <img src="{% static 'images/1/3.png' %}">
  <h2> Изомерия </h2>
  <p> Изомерами (греч. isomeros - составленный из равных частей) называют вещества, имеющие одну молекулярную формулу, но отличающиеся по строению (структурная изомерия) или расположению атомов в пространстве (пространственная изомерия).
  </p>
  <p> Изомерия бывает структурной (межклассовая, углеродного скелета, положения функциональной группы или связи) и пространственной (геометрической, оптической).
  </p>
  <img src="{% static 'images/1/4.png' %}">
  <p>В молекулах алканов отсутствуют функциональные группы, кратные связи. 
  Для алканов возможна изомерия только углеродного скелета. Так у пентана C5H12 существует 3 структурных изомера.
  </p>
  <img src="{% static 'images/1/5.png' %}">
  <h2>Получение</h2>
  <h3>1.Выделение из природного газа</h3>
  <p> Алканы входят в состав природного газа: метан 80-97%, этан 0.5-4%, пропан 0.2-1.5% , бутан 0.1-1%, пентан 0-1%.
  </p>
  <h3> 2.Крекинг нефти </h3>
  <p> Крекинг нефти-высокотемпературная обработка нефти с целью получения продуктов с меньшей длинной углеродной цепи.В ходе крекинга нефти получается один алкан и один алкен.
  </p>
  <p>C<sub>8</sub>H<sub>18</sub> → C<sub>4</sub>H<sub>8</sub> + C<sub>4</sub>H<sub>10</sub>
  </p>
  <h3>3.Гидрогенизация угля </h3>
  <p>C + H<sub>2</sub> → (t, p) CH<sub>4</sub>
  </p>
  <h3>4.Гидрирование окиси углерода (II)</h3>
  <p>CO + H<sub>2</sub> → (t, p, кат.) CH<sub>4</sub> + H<sub>2</sub>O
  </p>
  <h3>5.Синтез Дюма (декарбоксилирование солей карбоновых кислот)</h3>
  <p>Данный синтез заключается в сплавлении соли карбоновой кислоты с щелочью, в результате образуется алкан.
  </p>
  <img src="{% static 'images/1/6.png' %}">
  <h3>6.Синтез Вюрца</h3>
  <p> Эта реакция заключается во взаимодействии галогеналкана с металлическим натрием, калием или литием. 
  В результате происходит удвоение углеводородного радикала, рост цепи осуществляется зеркально: в том месте, где находился атом галогена.
  </p>
  <img src="{% static 'images/1/7.png' %}">
  <h3>7.Гидрирование ненасыщенных углеводородов</h3>
  <p> CH<sub>3</sub>-CH=CH<sub>2</sub> + H<sub>2</sub> → (t, p, Ni) CH<sub>3</sub>-CH<sub>2</sub>-CH<sub>3</sub>
  </p>
  <h2> Химические свойства </h2>
  <h3>1.Галогенирование </h3>
  <p> Атом галогена замещает атом водорода в молекуле алкана. 
  Запомните, что легче всего идет замещение у третичного атома углерода, чуть труднее - у вторичного и значительно труднее - у первичного.
  </p>
  <img src="{% static 'images/1/8.png' %}">
  <h3>2.Нитрование (реакция Коновалова)</h3>
  <p> Реакция Коновалова заключается в нитровании углеводородов разбавленной азотной кислотой. 
  Реакция идет при повышенном давлении, по свободнорадикальному механизму. Для удобства и более глубокого понимания, азотную кислоту - HNO<sub>3</sub> - можно представить как HO-NO<sub>2</sub>
  </p>
  <img src="{% static 'images/1/9.png' %}">
  <h3>3.Окисление</h3>
  <p> Все органические вещества сгорают с образованием углекислого газа и воды.
  </p>
  <p>С<sub>3</sub>H<sub>8</sub> + O<sub>2</sub> → CO<sub>2</sub> + H<sub>2</sub>O
  </p>
  <p>В ходе каталитического окисления возможна остановка на стадии спирта, альдегида или кислоты.
  </p>
  <img src="{% static 'images/1/10.png' %}">
  <h3>4.Пиролиз</h3>
  <p> Пиролиз - термическое разложение органических соединений. 
  Принципиальное отличие пиролиза от горения - в отсутствии кислорода.
  </p>
  <p>CH<sub>4</sub> → (t > 1000°С) C + H<sub>2</sub>
  <br>CH<sub>4</sub> → (t = 1500-1600°С) CH≡CH + H<sub>2</sub>↑
  <br>CH<sub>4</sub> → (t = 1200°С, кат.) CH<sub>2</sub>=CH<sub>2</sub> + H<sub>2</sub>↑
  <br>C<sub>2</sub>H<sub>6</sub> → (t = 1200°С, кат.) CH<sub>2</sub>=CH<sub>2</sub> + H<sub>2</sub>↑
  </p>
  <h3>5.Изомеризация</h3>
  <p>Для изомеризации алканов (изменения структуры углеродного скелета) в качестве катализатора используется AlCl<sub>3</sub>.
  </p>
  <img src="{% static 'images/1/11.png' %}">
  <h3>6.Крекинг</h3>
  <p> Крекинг является не только способом получения,но и важным химическим свойством алканов.
  </p>
  <p>C<sub>14</sub>H<sub>30</sub> → (t) C<sub>7</sub>H<sub>14</sub>+ C<sub>7</sub>H<sub>16</sub>
  </p>
</div>

<div id="Циклоалканы" class="tabcontent">
  <h1>Циклоалканы</h1>
  <h2>Номенклатура</h2>
  <p>Названия циклоалканов формируются путем добавления приставки "цикло-" к названию соответствующего алкана: циклопропан, циклобутан и т.д.
  </p> 
  <img src="{% static 'images/2/1.png' %}">
  <h2>Изомерия</h2>
  <p>Помимо изомерии углеродного скелета, для циклоалканов характерна межклассовая изомерия с алкенами и пространственная геометрическая изомерия в виде существования цис- и транс-изомеров.
  </p>
  <img src="{% static 'images/2/2.png' %}">
  <h2>Получение</h2>
  <h3>1.Гидрирование ароматических углеводородов</h3>
  <p>Циклоалканы можно получить гидрированием (присоединением водорода) бензола и его гомологов.
  </p>
  <img src="{% static 'images/2/3.png' %}">
  <h3>2.Циклизация алканов</h3>
  <p>При наличии катализатора и повышенной температуры алканы способны образовывать цикл, отщепляя при этом водород.
  </p>
  <img src="{% static 'images/2/4.png' %}">
  <h3>3.Дегалогенирование дигалогеналканов</h3>
  <p>Циклоалканы можно получить внутримолекулярной реакцией Вюрца
  </p>
  <img src="{% static 'images/2/5.png' %}">
  <h2>Химические свойства</h2>
  <h3>1.Гидрирование</h3>
  <p>Наиболее легко в реакции гидрирования вступают циклопропан и циклобутан. 
  Циклопентан и циклогексан не вступают в реакции гидрирования.
  </p>
  <img src="{% static 'images/2/6.png' %}">
  <h3>2.Галогенирование</h3>
  <p> Без освещения реакция циклопропана и циклобутана с хлором идет по типу присоединения. 
  При освещении хлор образует свободные радикалы, реакция идет, как и у алканов, по механизму замещения.
  У циклопентана и циклогексана реакция идет только путем замещения.
  </p>
  <img src="{% static 'images/2/7.png' %}">
  <h3>3.Гидрогалогенирование</h3>
  <p>В реакции гидрогалогенирования, протекающие по типу присоединения, вступают циклопропан и циклобутан.
  </p>
  <img src="{% static 'images/2/8.png' %}">
  <h3>4.Дегидрирование</h3>
  <p>При отщеплении водорода от циклогексана образуется бензол, а при отщеплении водорода от гомологов циклогексана - гомологи бензола.
  </p>
  <img src="{% static 'images/2/9.png' %}">
  <h3>5.Изомеризация</h3>
  <p>При нагревании циклоалканов с катализатором(AlCl<sub>3</sub>) образуются изомерные циклоалканы.
  </p>
  <img src="{% static 'images/2/10.png' %}">
</div>

<div id="Алкены" class="tabcontent">
  <h1>Алкены</h1>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Алкины" class="tabcontent">
  <h1>Алкины</h1>
  <p>London is the capital city of England.</p>
</div>

<div id="Алкадиены" class="tabcontent">
  <h1>Алкадиены</h1>
  <p>London is the capital city of England.</p>
</div>

<div id="Фенолы" class="tabcontent">
  <h1>Фенолы</h1>
  <p>London is the capital city of England.</p>
</div>

<div id="Спирты" class="tabcontent">
  <h1>Спирты</h1>
  <p>London is the capital city of England.</p>
</div>

<div id="Альдегиды" class="tabcontent">
  <h1>Альдегиды</h1>
  <p>London is the capital city of England.</p>
</div>
<div id="Карбоновые кислоты" class="tabcontent">
  <h1>Карбоновые кислоты</h1>
  <p>London is the capital city of England.</p>
</div>
{% endblock %}
